@import url("reset.css");

html,
body {
  	height: 100%;
  	font-family: 'Padauk', sans-serif;
  	font-size: 20px;
}

.wrapper {
	display: grid;
	grid-template-areas: 
	"a a a a"
	"c c c c"
	"d d d d"
	"e e e e"
	"f f f f"
	"g g g g"
	"h h h h"
	"i i i i"
	"j j j j";
	text-align: center;
	height: auto !important;
  	height: 100%;
  	min-height: 100%;
  	margin: 0 auto -100px;
}

header {
	grid-area: a;
	display: inline-flex;
	background-color: #2b2d35;
	justify-content: center;
	color: #68d678;
}

.me {
	/*grid-area: a;*/
	margin: 30px;
	border-radius: 10px;
}

.main-header {
	/*grid-area: b;*/
	margin-top: 260px;
	line-height: 30px;
}

.find-me {
	grid-area: c;
	padding-top: 30px;
}

.links {
	grid-area: d;
	display: inline-flex;
	justify-content: center;
	
	padding: 30px;
}

.about-intro {
	grid-area: e;
	line-height: 20px;
	background-color: #2b2d35;
	color: #68d678;
	padding: 60px;
}
.about-tech {
	grid-area: f;
	display: inline-flex;
	justify-content: center;
	background-color: #68d678;
	color: #2b2d35;
}

.fullstack {
	margin: 20px;
}

.about-work {
	grid-area: g;
	line-height: 20px;
	background-color: #2b2d35;
	color: #68d678;
	padding: 60px;
}

.portfolio {
	grid-area: h;
	justify-content: center;
}

.portfolio-scroll {	
	overflow: scroll;
    height: 800px;
    font-family: 'Karla', sans-serif;
    font-size: 18px;
}

.contact {
	grid-area: i;
	background-color: #68d678;
	color: #2b2d35; 
	padding: 40px;
}

.main-footer {
	grid-area: j;
	padding: 30px;
	background-color: #2b2d35;
	color: #68d678;
	border-top: 2px solid black;
}

.work {
	line-height: 30px;
	
	margin: 10px;
	border-radius: 10px;
}

.work:nth-of-type(odd) {
    background: #cccccc;
}

.work:nth-of-type(even) {
    background: #f3f1f1;
}

h5 {
	font-size: 40px;
	text-decoration: underline;
	margin-top: 10px;
	margin-bottom: 10px;
}

h3 {
	font-size: 25px;
	text-decoration: underline;
	margin-top: 10px;
	margin-bottom: 10px;
}

a {
	text-decoration: none;
	color: black;
	font-size: 20px;
	color: #25279e;
}

a:hover {
	cursor: pointer;
	color: #2b2d35;
}

.portfolio-photo {
	max-width: 300px;
}

.me {
	max-width: 400px;
}

.link-photo {
	max-width: 100px;
	margin: 5px;
	opacity: 0.8
}

.link-photo:hover {
	cursor: pointer;
	transform: scale(1.1);
	opacity: 1.0;
}

@media only screen and (max-width: 640px) {
	.me{
		max-width: 270px;
	}

	header {
		display: block;
	}

	.main-header {
		margin-top: 0px;
		margin-bottom: 15px;
	}
}